<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WordExplorer</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../static/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">WordExplorer</h1>
      </div>

      <div class="row">

        <form>

            <div class="col-sm-8 blog-main">

              <div class="col-sm-12 height_100">
                <div class="input-group">
                  <input name="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-12 -->

            </div><!-- /.blog-main -->

            <div class="col-sm-4 blog-sidebar">

              <div class="sidebar-module sidebar-module-inset">
                
                <h4>Source</h4>
                <div class="radio">
                    <input type="radio" id="contactChoice1"
                     name="contact" value="email" checked="checked">
                    <label for="contactChoice1">Fiction</label><br>

                    <input type="radio" id="contactChoice2"
                     name="contact" value="phone">
                    <label for="contactChoice2">News Sources</label><br>

                    <input type="radio" id="contactChoice3"
                     name="contact" value="mail">
                    <label for="contactChoice3">Twitter</label><br>
                </div>

                <h4>Readability</h4>
                <input id="slide_readability" type="text" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="0" data-slider-selection="after">
                <button id="enable_readability">Enable</button>
                <button id="disable_readability">Disable</button>

                <h4>Tone</h4>
                <input id="slide_tone" type="text" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="0" data-slider-selection="after">
                <button id="enable_tone">Enable</button>
                <button id="disable_tone">Disable</button>

                <h4>Objectivity</h4>
                <input id="slide_objectivity" type="text" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="0" data-slider-selection="after">
                <button id="enable_objectivity">Enable</button>
                <button id="disable_objectivity">Disable</button>

              </div><!-- sidebar-module-inset-->
            </div><!-- /.blog-sidebar -->
        </form>
      </div><!-- /.row -->
    </div><!-- /.container -->


    <script type='text/javascript'>
        $('#slide_readability').slider();
        $('#enable_readability').click(function(){ $('#slide_readability').slider('enable') });
        $('#disable_readability').click(function(){ $('#slide_readability').slider('disable') });

        $('#slide_tone').slider();
        $('#enable_tone').click(function(){ $('#slide_tone').slider('enable') });
        $('#disable_tone').click(function(){ $('#slide_tone').slider('disable') });

        $('#slide_objectivity').slider();
        $('#enable_objectivity').click(function(){ $('#slide_objectivity').slider('enable') });
        $('#disable_objectivity').click(function(){ $('#slide_objectivity').slider('disable') });
    </script>

  </body>
</html>
