<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>

<div class='slider-example'>
	<div class="container">
		<br>
		<input id="slide" type="text" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="0" data-slider-selection="after">

		<button id="enable">Enable</button>
		<button id="disable">Disable</button>
	</div>	
</div>

<script type='text/javascript'>
	$('#slide').slider();
	$('#enable').click(function(){ $('#slide').slider('enable') });
	$('#disable').click(function(){ $('#slide').slider('disable') });
</script>
